*{
    background-color:rgb(255, 255, 255) ;
}
.heading{
    color: rgb(216, 5, 5);
    text-align: center;
}
.Details p{
    
    color: rgb(51, 22, 72);
    text-align: left;
}
.flexi-containers{
    display: flex;
    flex-wrap:wrap-reverse;
    background-color: aquamarine;
}
.desp{
    color:rgb(100, 27, 27);
    text-align: left;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 10px;
}
body{
   
    opacity: 2.5;
}
